* {
  background-color: #896bee;
  font-family: Inter, 'Roboto';
}

h1 {
  color: #6beeca;
  text-align: center;
  font-size: 30px;
}

img {
    max-width: 200px;
    border:5px solid aquamarine;
    border-radius:5px;
}

@import url(https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@800&family=Roboto:wght@500&display=swap);
